/* app css stylesheet */

body {
  background: grey;
  background: purple;
}

#shell{
  width: 100%;
  /*max-width: 1100px;*/
  /*min-width: 700px;*/
  margin: 0 auto;
  display:table;
}

#control-panel-handle {
  font-weight:bold;
  font-size: 20px;
  padding: 20px;
  height: 100%;
  display:inline-block;
  color: white;
  position: absolute;
  z-index: 100;
}


.toggle {
  transition:  cubic-bezier(0.42,0,0.58,1) .5s;
}

.toggle.ng-enter {
  margin-left: -370px;
  margin-top: -100px;
}

.toggle.ng-enter-active {
  margin-left: 10px;
  margin-top: 10px;
}

.toggle.ng-leave {
  margin-left: 0px;
  margin-top: 0px;
}

.toggle.ng-leave-active {
  margin-left: -370px;
  margin-top: -100px;
}

#control-panel {
  background: white;
  width: 370px;
  position: absolute;
  z-index: 1000;
  padding-top: 8px;
  box-shadow: 0px 0px 5px 3px white;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

select{
  margin-bottom: 20px;
}

.go-left {
  text-align: left;
}

label{
  font-size: 16px;
}

#angle canvas{
  width: 100%;
  margin-bottom: 15px;
}

h4{
  text-align: center;
  margin-bottom: 10px;
}

#iter-num img {
  width: 25px;
}

#iter-num {
  margin-bottom: 10px;
  font-size: 16px;
}

.text-center{
  text-align: center;
}

.bold {
  font-weight: bold;
}

.arrow img {
  width: 15px;
  margin-bottom: 3px;
  margin-left: 5px;
}

#angle-num img {
  margin-top: 3px;
  width: 25px;
}

.save-button .button{
  width: 100%;
}

/*graphic*/
#info{
  color: white;
}

#canvas-container{
  background:black;
}

#canvas-container canvas{
  background: purple;
  /*width: 100%;*/
  position: absolute;
  bottom: 0;
  height: 100%;
  right: 0;
  left: 0;
  margin: auto;
}

footer {
  background:grey;
  text-align: right;
}


/* for new_science */
.rule {
  display: inline-block;
  border: 2px black solid;
  padding: 0 5px 5px 5px;
  margin-bottom: 5px;
}

.rule h6 {
  text-align: center;
  margin-bottom: 4px;
}

.box {
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px black solid;
}

.black {
  background: black;
}

.parents div{
  display: inline-block;
}

.child label{
  margin: 0 auto;
}

input[type="checkbox"] {
  display: none;
}
