<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/foundation.css"/>
  <link rel="stylesheet" href="css/normal.css"/>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-app="myApp">

<div id='shell' ng-controller="appCtrl">

  <div id="control-panel" class="small-4 columns">
    <form>
      <h3>Parameters<span>help</span></h3>

      <div class="row">
        <select 
            ng-change="change()"
            ng-model="options"
            ng-options="fav as fav.name for fav in favorites">
        </select>
      </div>

      <div id="angle" class="row">
        <div class="small-12 small-centered large-10 columns">
          <canvas previewangle="{{options.angle}}" height=200 width=400></canvas>
        </div>
        <div class='small-2 columns'>
        </div>
      </div>
      <div id="angle-num" class="row">
        <div class="small-3 large-2 columns">angle</div>
        <div class='small-3 large-4 columns'>
          <input type=text ng-model="options.angle">
        </div>
        <div class="small-6 columns">
          <div class="button tiny">-</div>
          <div class="button tiny">+</div>
        </div>
      </div>

      <div class="row">
        <div class="small-3 large-2 columns">axiom</div>
        <div class="small-9 large-10 columns"><input type="text" ng-model="options.axiom"></div>
      </div>

      <div class="row">
        <div class="small-3 large-2 columns">rule1</div>
        <div class="small-3 large-3 columns"><input type="text" ng-model="options.rules[0].input"></div>
        <div class="small-6 large-7 columns"><input type="text" ng-model="options.rules[0].output"></div>
      </div>

      <div class="row">
        <div class="small-3 large-2 columns">rule2</div>
        <div class="small-3 large-3 columns"><input type="text" ng-model="options.rules[1].input"></div>
        <div class="small-6 large-7 columns"><input type="text" ng-model="options.rules[1].output"></div>
      </div>

      <div class="row">
        <div class="small-3 large-2 columns">rule3</div>
        <div class="small-3 large-3 columns"><input type="text" ng-model="options.rules[2].input"></div>
        <div class="small-6 large-7 columns"><input type="text" ng-model="options.rules[2].output"></div>
      </div>

      <div class="row">
        <div class="small-4 large-3 columns">iterations</div>
        <div class="small-3 large-3 columns"><input type="text" ng-model="options.iterations"></div>
        <div ng-click="render(options)" class="button small-5 large-6 columns">draw</div>
      </div>
    </form>
  </div>

  <div supersuper id="canvas-container" class="small-8 columns">
    <div id='info'>
      <span></span>
      <span id='prevIteration' class="icon-settings">prev</span>
      <span id='nextIteration' class="icon-settings">nect</span>
    </div>

    <canvas id="main" width="700" height="700"></canvas>
  </div>

</div>
  <script src="lib/angular/angular.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/turtle.js"></script>
</body>
</html>

  <!--<script src="lib/angular/angular-route.js"></script>-->
  <!--<script src="js/services.js"></script>-->
  <!--<script src="js/controllers.js"></script>-->
  <!--<script src="js/filters.js"></script>-->
  <!--<script src="js/directives.js"></script>-->
