<div id='shell'>
  <div id="control-panel-handle" ng-mouseover="showMenu=true">Menu</div>

  <div id="control-panel" class="toggle" ng-if="showMenu">
    <form>
      <h3>Parameters</h3>

      <form>
        <div class='rule' ng-repeat="rule in options.rules">
          <h6>rule {{$index+1}}</h6>
          <div class='parents'>
            <div class="box {{determineColor(rule.parents[0])}}">
            </div>
            <div class="box {{determineColor(rule.parents[1])}}"></div>
            <div class="box {{determineColor(rule.parents[2])}}"></div>
          </div>
          <div class='child'>
            <label for="ch{{$index}}" class="box {{determineColor(rule.child)}}" type="checkbox">
              <input id="ch{{$index}}" type='checkbox' ng-model="rule.child" ng-true-value='1' ng-false-value='0'>
          </div>
        </div>
      </form>


  </div>

  <div id="canvas-container"> 
    
    <canvas new-sci id="main" ng-mouseover="showMenu=false" width="4000" height="4000"></canvas>

  </div>
</div>
