<div id='shell'>

  <div id="control-panel-handle" ng-mouseover="showMenu=true" ng-hide="showMenu">menu</div>

  <div id="control-panel" ng-show="showMenu">
    <form>
      <h3>Parameters</h3>

      <div class="row">
        <select 
          ng-change="setFavCopy(options)"
          ng-model="options"
          ng-options="fav as fav.name for fav in favorites">
        </select>
      </div>

      <div id="angle" class="row">
        <div class="small-8 small-centered columns">
          <canvas change-on-click ng-click="changeAngleOnClick($event)" update-on-change height=300 width=600></canvas>
        </div>
      </div>

      <div id="angle-num" class="row">
        <div class="small-4 columns text">angle</div>
        <div class='small-4 columns'>
          <input type=text ng-model="favCopy.angle">
        </div>
        <div class="small-4 columns">
          <a ng-click="changeAngle('-1')">
            <img src="img/ccw.svg">
          </a>
          <a ng-click="changeAngle('+1')">
            <img src="img/cw.svg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns text">axiom</div>
        <div class="small-8 columns"><input type="text" ng-model="favCopy.axiom"></div>
      </div>

      <rule ng-repeat="rule in favCopy.rules" index="{{$index}}"></rule>

      <div id="iter-num" class="row">
        <div class="small-4 columns text">iterations</div>
        <div class='small-4 columns'>
          <input type=text ng-model="favCopy.iterations">
        </div>
        <div class="small-4 columns">
          <a ng-click="changeIteration(-1)">
            <img src="img/minus.svg">
          </a>
          <a ng-click="changeIteration(+1)">
            <img src="img/plus2.svg">
          </a>
        </div>
      </div>

      <div ng-hide="nameForm" class="save-button row">
        <div class="small-12 small-centered columns">
          <div ng-click="showNameForm()" class="button">save</div>
        </div>
      </div>

      <div ng-show="nameForm">
        <div class="row">
          <div class="small-4 columns">
            name:
          </div>
          <div class="small-8 columns">
            <input ng-model="favCopy.name" placeholder="name it!" type="text">
          </div>
        </div>
        <div class="row">
          <a ng-click="cancelSave()" class="small-3 columns">cancel</a>
          <a ng-click="save(favCopy)" class="small-6 columns button medium">save</a>
        </div>
      </div>

    </form>
  </div>

  <div id="canvas-container" class="">
    <div id='info'>
      <span></span>
    </div>

    <canvas render-turtle ng-mouseover="showMenu=false" id="main" width="1200" height="1200"></canvas>

  </div>
</div>
